{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<header>
    <h3><span style="color: red">Pep</span>vpn</h3>
    <nav class="navbar bg-dark" data-bs-theme="dark">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'vpn:index' %}">Главаня</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Скачать файл конфигурации</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'about:download' %}">Скачать WireGuard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'about:help' %}">Как настроить</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://t.me/Dixzxz">Обсуждение</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'about:donat' %}">На развитие проекта</a>
                  </li>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
      </nav>
</header>
